#header {
  background: white;
}

#plot-container {
  display: none;
}

.plot-on #plot-container {
  display: block;
}

#previewPlot {
  margin-top: 1rem;
  background: white;
  box-sizing: content-box;
  box-shadow: 0 1rem 1rem white;
}

#previewPlot:after {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);  
  height: 1rem;
  display: block;
}

.main-content {
  display: flex;
}

.main-content, #help-toggle {
  padding-top: 3.5rem; /* 3.5rem for header nav */
}

.plot-on .main-content, .plot-on #help-toggle {
  padding-top: calc(4.5rem + 200px); /* 3.5rem for header nav, 1rem + 200px for plot */
}

.help-on .main-content {
  padding-right: 25rem; 
}

.main-content > .container {
  flex: 1;
  align-items: stretch;
}

#help-toggle {
  display: none;
  position: fixed;
  height: 100%;
  top: 0px;
  right: 0px;
}

.help-on #help-toggle {
  display: block;
}

#help-container {
  height: 100%;
  width: 25rem;
  padding: 1rem;
}

#help {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.help-section {
  display: none;
}

.help-section.active {
  display: block;
}

#steps {
  overflow: visible;
}

.button-next {
  text-align: right;
}

.button-next button span.title {
  margin-left: 40px;
  margin-right: 40px;
}

.button-next button span.spinner-border-sm {
  margin-left: -16px;
}

#plotColumn {
  position: relative;
}

#plotSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 50px;
  height: 50px;
}

ul.stepper li a .label {
  text-align: left;
}

ul.stepper li a .summary {
  text-align: right;
}

.file-input input.form-control {
  display: none;
}

.carousel-item .plotly {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

@media print {
  nav.navbar,
  ul.stepper > li::after,
  #steps > li > .step-body, #steps > li > a span.circle, #steps > li#analysis,
  #results > li#save,
  ol.carousel-indicators, a.carousel-control-prev, a.carousel-control-next {
    display: none;
  }
  
  .fixed-top {
    position: static;
  }
  
  .main-content, .row, ul.stepper, ul.stepper > li {
    display: block;
  }

  ul.stepper > li > a {
    text-decoration: none;
    padding: .5rem;
  }
  
  #results > li > div.step-body {
    display: block;
  }
  
  #results > li > div.step-body .step-content .carousel-item {
    display: block;
    float: none;
  }
  
  ul.stepper > li > a {
    page-break-after: avoid;
    break-after: avoid-page;
  }
  
  ul.stepper > li > div.step-body, ul.stepper > li > div.step-body .step-content {
    page-break-before: avoid;
    break-before: avoid-page;
  }
  
  .carousel-item {
    page-break-inside: avoid;
    break-inside: avoid-page;
  }
}

